<center>
	<h1>Medical Search</h1>

	<%= form_tag("/text_mining/search", :method=>"post") do %>
	<%= text_field_tag(:search_text) %>
	<%= submit_tag("Search", :class=>"btn") %>
	<% end %>
</center>
<div id="all"  >
	<div id="resultsframe">
		<h2>Results</h2>

		<%unless @results.blank? then%>
		<% @results.each do | page | %>

		<% base_link = 'http://de.wikipedia.org/wiki?curid=' %>
		<% link = base_link << "#{page.page_id}"%>
		<%= link_to(page.page_title, link) %>
		
		<br/>
		<% end %>
		<% end %>
	</div>
	<div id="wikiframe">
		<iframe src= "http://www.wikipedia.org"></iframe>
	</div>
</div>

