body {
  font-family: Helvetica, Geneva, Arial, sans-serif;
  font-size: small;
}
h1{
  font-size: 40px;
}
table{
  width: 100%;
  table-layout: fixed;
  word-wrap: break-word;
}
th{
  text-align: left;
  background-color: white;
}
th.page{
  width: 75%;
}
th.score{
  width: 25%;
}
tr:nth-child(odd) {
    background-color: #E6E6E6;
}
div#all{
	margin-top: 20px;
  width: 100%;
  height: 100%;
}
div#resultsframe{
  width: 50%;
  float: left;
}
div#wikiframe{
	width: 50%;
	float: left;
	height: inherit;
}
iframe{
  width: 100%;
  height:inherit;
}