// Place all the styles related to the TextMining controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
   font-family: Helvetica, Geneva, Arial, sans-serif;
   font-size: small;
   color: #000;
   background-color: #fff;
   
}
a:link {
   color: #008;
}

h1{
  font-size: 40px;
}
form{
  
}
h3{
  margin-top: 0;
  background: #900;
  color: #fff;
}
div{
  width: 100%;
}
iframe{
  width: 100%;
  height: 100%;

}
table{
  margin-top: 20px;
  width: 100%;
  height: 100%;
  background-color: #eef;
}


